html, body {
    text-align: center;
    background-color: #1C2333;
    font-family: "Helvetica";
    color: #F5F9FC;
}

button {
    border-radius: 6px;
    background-color: #0053A6;
    border:none;
/*     padding:15px; */
    height: 62px;
    width: 60px;
    font-size: 18px;
    color: #F5F9FC;
    cursor:pointer;
    vertical-align: top;
}

.input-text {
    border-radius: 6px;
    background-color: #3C445C;
    outline: none;
    border: none;
    width: 300px;
    height: 60px;
    font-size: 28px;
    text-align: center;
    color: #F5F9FC;
    text-transform: uppercase;
    letter-spacing: 1px;
}

table {
    border-spacing: 10px;
    margin: 0 auto;
}

td {
    border:solid;
    border-width: 2px;
    align-items: stretch;
    border-color: #3C445C;
}

/* span {
    width: 100%;
    height: 100%;
    display: block;
    vertical-align:middle;  
} */

.letter-wrapper {
    border:solid;
    border-width: 2px;
}

.c {
    font-weight: bold;
    font-size: 36px;
    height: 60px;
    width: 60px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    -ms-user-select: none;
    user-select: none;
 }

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes input-shake {
    0% {
        transform: translateX(0);
        color: #F5F9FC;
    }
    25% { transform: translateX(5px); }
    50% {
        transform: translateX(-5px);
        color: red;
    }
    75% { transform: translateX(5px); }
    100% {
        transform: translateX(0);
        color: #F5F9FC;
    }
}